* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #333;
    color: #9B2283;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}



.catalog {
    padding: 40px;
    text-align: center;
}

.catalog h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #9B2283;
  }

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 15px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
